<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>



<div>
    <form action="login" method="post">
        <h3>LOGIN</h3>

        <label for="usernameSignin">USERNAME</label>
        <input type="text" id="usernameSignin" name="username"><br>

        <label for="passwordSignup">PASSWORD</label>
        <input type="password" id="passwordSignin" name="password"> <br><br>

        <input type="submit" value="SIGNIN">

    </form>
</div>

<div>
    <form action="signup" method="post">
        <h3>SIGNUP</h3>

        <label for="usernameSignup">USERNAME</label>
        <input type="text" id="usernameSignup" name="username"><br>

        <label for="passwordSignup">PASSWORD</label>
        <input type="password" id="passwordSignup" name="password"> <br><br>

        <input type="submit" value="SIGNUP">

    </form>
</div>

</body>
</html>