<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seller Dashboard</title>
</head>
<body>

<table>
    <tr><td><b>First Name:</b></td><td><span th:text="${userdetail.fname}"></span></td></tr>
    <tr><td><b>Last Name:</b></td><td><span th:text="${userdetail.lname}"></span></td></tr>
    <tr><td><b>Email:</b></td><td><span th:text="${userdetail.email}"></span></td></tr>
    <tr><td><b>Phone:</b></td><td><span th:text="${userdetail.phone}"></span></td></tr>
</table>

</body>
</html>